@import "https://fonts.googleapis.com/css?family=Open+Sans:400";

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('../fonts/Pe-icon-7-stroke.eot?d7yf1v');
	src:url('../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('../fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
		url('../fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
		url('../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="pe-7s-"], [class*=" pe-7s-"] {
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.pe-7s-album:before{content:"\e6aa"}
.pe-7s-arc:before{content:"\e6ab"}
.pe-7s-back-2:before{content:"\e6ac"}
.pe-7s-bandaid:before{content:"\e6ad"}
.pe-7s-car:before{content:"\e6ae"}
.pe-7s-diamond:before{content:"\e6af"}
.pe-7s-door-lock:before{content:"\e6b0"}
.pe-7s-eyedropper:before{content:"\e6b1"}
.pe-7s-female:before{content:"\e6b2"}
.pe-7s-gym:before{content:"\e6b3"}
.pe-7s-hammer:before{content:"\e6b4"}
.pe-7s-headphones:before{content:"\e6b5"}
.pe-7s-helm:before{content:"\e6b6"}
.pe-7s-hourglass:before{content:"\e6b7"}
.pe-7s-leaf:before{content:"\e6b8"}
.pe-7s-magic-wand:before{content:"\e6b9"}
.pe-7s-male:before{content:"\e6ba"}
.pe-7s-map-2:before{content:"\e6bb"}
.pe-7s-next-2:before{content:"\e6bc"}
.pe-7s-paint-bucket:before{content:"\e6bd"}
.pe-7s-pendrive:before{content:"\e6be"}
.pe-7s-photo:before{content:"\e6bf"}
.pe-7s-piggy:before{content:"\e6c0"}
.pe-7s-plugin:before{content:"\e6c1"}
.pe-7s-refresh-2:before{content:"\e6c2"}
.pe-7s-rocket:before{content:"\e6c3"}
.pe-7s-settings:before{content:"\e6c4"}
.pe-7s-shield:before{content:"\e6c5"}
.pe-7s-smile:before{content:"\e6c6"}
.pe-7s-usb:before{content:"\e6c7"}
.pe-7s-vector:before{content:"\e6c8"}
.pe-7s-wine:before{content:"\e6c9"}
.pe-7s-cloud-upload:before{content:"\e68a"}
.pe-7s-cash:before{content:"\e68c"}
.pe-7s-close:before{content:"\e680"}
.pe-7s-bluetooth:before{content:"\e68d"}
.pe-7s-cloud-download:before{content:"\e68b"}
.pe-7s-way:before{content:"\e68e"}
.pe-7s-close-circle:before{content:"\e681"}
.pe-7s-id:before{content:"\e68f"}
.pe-7s-angle-up:before{content:"\e682"}
.pe-7s-wristwatch:before{content:"\e690"}
.pe-7s-angle-up-circle:before{content:"\e683"}
.pe-7s-world:before{content:"\e691"}
.pe-7s-angle-right:before{content:"\e684"}
.pe-7s-volume:before{content:"\e692"}
.pe-7s-angle-right-circle:before{content:"\e685"}
.pe-7s-users:before{content:"\e693"}
.pe-7s-angle-left:before{content:"\e686"}
.pe-7s-user-female:before{content:"\e694"}
.pe-7s-angle-left-circle:before{content:"\e687"}
.pe-7s-up-arrow:before{content:"\e695"}
.pe-7s-angle-down:before{content:"\e688"}
.pe-7s-switch:before{content:"\e696"}
.pe-7s-angle-down-circle:before{content:"\e689"}
.pe-7s-scissors:before{content:"\e697"}
.pe-7s-wallet:before{content:"\e600"}
.pe-7s-safe:before{content:"\e698"}
.pe-7s-volume2:before{content:"\e601"}
.pe-7s-volume1:before{content:"\e602"}
.pe-7s-voicemail:before{content:"\e603"}
.pe-7s-video:before{content:"\e604"}
.pe-7s-user:before{content:"\e605"}
.pe-7s-upload:before{content:"\e606"}
.pe-7s-unlock:before{content:"\e607"}
.pe-7s-umbrella:before{content:"\e608"}
.pe-7s-trash:before{content:"\e609"}
.pe-7s-tools:before{content:"\e60a"}
.pe-7s-timer:before{content:"\e60b"}
.pe-7s-ticket:before{content:"\e60c"}
.pe-7s-target:before{content:"\e60d"}
.pe-7s-sun:before{content:"\e60e"}
.pe-7s-study:before{content:"\e60f"}
.pe-7s-stopwatch:before{content:"\e610"}
.pe-7s-star:before{content:"\e611"}
.pe-7s-speaker:before{content:"\e612"}
.pe-7s-signal:before{content:"\e613"}
.pe-7s-shuffle:before{content:"\e614"}
.pe-7s-shopbag:before{content:"\e615"}
.pe-7s-share:before{content:"\e616"}
.pe-7s-server:before{content:"\e617"}
.pe-7s-search:before{content:"\e618"}
.pe-7s-film:before{content:"\e6a5"}
.pe-7s-science:before{content:"\e619"}
.pe-7s-disk:before{content:"\e6a6"}
.pe-7s-ribbon:before{content:"\e61a"}
.pe-7s-repeat:before{content:"\e61b"}
.pe-7s-refresh:before{content:"\e61c"}
.pe-7s-add-user:before{content:"\e6a9"}
.pe-7s-refresh-cloud:before{content:"\e61d"}
.pe-7s-paperclip:before{content:"\e69c"}
.pe-7s-radio:before{content:"\e61e"}
.pe-7s-note2:before{content:"\e69d"}
.pe-7s-print:before{content:"\e61f"}
.pe-7s-network:before{content:"\e69e"}
.pe-7s-prev:before{content:"\e620"}
.pe-7s-mute:before{content:"\e69f"}
.pe-7s-power:before{content:"\e621"}
.pe-7s-medal:before{content:"\e6a0"}
.pe-7s-portfolio:before{content:"\e622"}
.pe-7s-like2:before{content:"\e6a1"}
.pe-7s-plus:before{content:"\e623"}
.pe-7s-left-arrow:before{content:"\e6a2"}
.pe-7s-play:before{content:"\e624"}
.pe-7s-key:before{content:"\e6a3"}
.pe-7s-plane:before{content:"\e625"}
.pe-7s-joy:before{content:"\e6a4"}
.pe-7s-photo-gallery:before{content:"\e626"}
.pe-7s-pin:before{content:"\e69b"}
.pe-7s-phone:before{content:"\e627"}
.pe-7s-plug:before{content:"\e69a"}
.pe-7s-pen:before{content:"\e628"}
.pe-7s-right-arrow:before{content:"\e699"}
.pe-7s-paper-plane:before{content:"\e629"}
.pe-7s-delete-user:before{content:"\e6a7"}
.pe-7s-paint:before{content:"\e62a"}
.pe-7s-bottom-arrow:before{content:"\e6a8"}
.pe-7s-notebook:before{content:"\e62b"}
.pe-7s-note:before{content:"\e62c"}
.pe-7s-next:before{content:"\e62d"}
.pe-7s-news-paper:before{content:"\e62e"}
.pe-7s-musiclist:before{content:"\e62f"}
.pe-7s-music:before{content:"\e630"}
.pe-7s-mouse:before{content:"\e631"}
.pe-7s-more:before{content:"\e632"}
.pe-7s-moon:before{content:"\e633"}
.pe-7s-monitor:before{content:"\e634"}
.pe-7s-micro:before{content:"\e635"}
.pe-7s-menu:before{content:"\e636"}
.pe-7s-map:before{content:"\e637"}
.pe-7s-map-marker:before{content:"\e638"}
.pe-7s-mail:before{content:"\e639"}
.pe-7s-mail-open:before{content:"\e63a"}
.pe-7s-mail-open-file:before{content:"\e63b"}
.pe-7s-magnet:before{content:"\e63c"}
.pe-7s-loop:before{content:"\e63d"}
.pe-7s-look:before{content:"\e63e"}
.pe-7s-lock:before{content:"\e63f"}
.pe-7s-lintern:before{content:"\e640"}
.pe-7s-link:before{content:"\e641"}
.pe-7s-like:before{content:"\e642"}
.pe-7s-light:before{content:"\e643"}
.pe-7s-less:before{content:"\e644"}
.pe-7s-keypad:before{content:"\e645"}
.pe-7s-junk:before{content:"\e646"}
.pe-7s-info:before{content:"\e647"}
.pe-7s-home:before{content:"\e648"}
.pe-7s-help2:before{content:"\e649"}
.pe-7s-help1:before{content:"\e64a"}
.pe-7s-graph3:before{content:"\e64b"}
.pe-7s-graph2:before{content:"\e64c"}
.pe-7s-graph1:before{content:"\e64d"}
.pe-7s-graph:before{content:"\e64e"}
.pe-7s-global:before{content:"\e64f"}
.pe-7s-gleam:before{content:"\e650"}
.pe-7s-glasses:before{content:"\e651"}
.pe-7s-gift:before{content:"\e652"}
.pe-7s-folder:before{content:"\e653"}
.pe-7s-flag:before{content:"\e654"}
.pe-7s-filter:before{content:"\e655"}
.pe-7s-file:before{content:"\e656"}
.pe-7s-expand1:before{content:"\e657"}
.pe-7s-exapnd2:before{content:"\e658"}
.pe-7s-edit:before{content:"\e659"}
.pe-7s-drop:before{content:"\e65a"}
.pe-7s-drawer:before{content:"\e65b"}
.pe-7s-download:before{content:"\e65c"}
.pe-7s-display2:before{content:"\e65d"}
.pe-7s-display1:before{content:"\e65e"}
.pe-7s-diskette:before{content:"\e65f"}
.pe-7s-date:before{content:"\e660"}
.pe-7s-cup:before{content:"\e661"}
.pe-7s-culture:before{content:"\e662"}
.pe-7s-crop:before{content:"\e663"}
.pe-7s-credit:before{content:"\e664"}
.pe-7s-copy-file:before{content:"\e665"}
.pe-7s-config:before{content:"\e666"}
.pe-7s-compass:before{content:"\e667"}
.pe-7s-comment:before{content:"\e668"}
.pe-7s-coffee:before{content:"\e669"}
.pe-7s-cloud:before{content:"\e66a"}
.pe-7s-clock:before{content:"\e66b"}
.pe-7s-check:before{content:"\e66c"}
.pe-7s-chat:before{content:"\e66d"}
.pe-7s-cart:before{content:"\e66e"}
.pe-7s-camera:before{content:"\e66f"}
.pe-7s-call:before{content:"\e670"}
.pe-7s-calculator:before{content:"\e671"}
.pe-7s-browser:before{content:"\e672"}
.pe-7s-box2:before{content:"\e673"}
.pe-7s-box1:before{content:"\e674"}
.pe-7s-bookmarks:before{content:"\e675"}
.pe-7s-bicycle:before{content:"\e676"}
.pe-7s-bell:before{content:"\e677"}
.pe-7s-battery:before{content:"\e678"}
.pe-7s-ball:before{content:"\e679"}
.pe-7s-back:before{content:"\e67a"}
.pe-7s-attention:before{content:"\e67b"}
.pe-7s-anchor:before{content:"\e67c"}
.pe-7s-albums:before{content:"\e67d"}
.pe-7s-alarm:before{content:"\e67e"}
.pe-7s-airplay:before{content:"\e67f"}

/*== Basic ===*/
body{font-family:'Roboto',sans-serif;font-weight:400;background-color:var(--mainbody)}
ul li{list-style:none}
a{color:#333;-webkit-transition:300ms;transition:300ms}
a:hover{outline:none;text-decoration:none}
a:focus{outline:none;outline-offset:0;text-decoration:none}
h1,h2,h3,h4,h5,h6{font-family:'Roboto',sans-serif}
.btn{padding:.375rem 1.5rem;border-radius:20px}
.btn:hover,.btn:focus{outline:none;-webkit-box-shadow:none;box-shadow:none}
.btn.btn-file{position:relative}
.btn.btn-file input[type=file]{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;z-index:10}
.navbar-toggle{background-color:#000}
.flex{display:flex!important}
.flex.flex-wrap{flex-wrap:wrap!important}
.flex-item{flex:1}
a#scrollUp{bottom:5px;right:5px;padding:5px 7px;color:#aaa;border:2px solid #aaa;border-radius:50%}
a#scrollUp i{font-size:30px}
span.stars,span.stars span{display:block;background:url(../../images/stars.png) 0 -13px repeat-x;width:65px;height:13px;margin:0 auto}
span.stars span{margin-left:0;background-position:0 0}
table tr.clickable-row{cursor:pointer}
.row.slim{margin-left:-5px;margin-right:-5px}
.row.slim [class*='col-'] {padding-left:5px;padding-right:5px}
.d-block{display:block}
.col-md-1p5{width:12.5%}
.col-md-2p5{width:20.823333333%}
.col-md-3p5{width:29.166666667%}
.col-md-5p5{width:45.833333333%}
.col-md-6p5{width:54.166666667%}
.col-md-7p5{width:62.5%}
.col-md-8p5{width:70.833333333%}
.col-md-9p5{width:79.176666667%}
.slimScroll{overflow-y:auto;scrollbar-color: var(--accent) #F5F5F5;scrollbar-width:thin}
.slimScroll::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);box-shadow:inset 0 0 6px rgba(0,0,0,0.3); background-color:#F5F5F5}
.slimScroll::-webkit-scrollbar{width:5px;background-color:#F5F5F5}
.slimScroll::-webkit-scrollbar-thumb{background-color:var(--accent);background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)}
.modal-open {margin-right:18px}
body.elem-loader{padding-right:18px}
.modal.modal-center{text-align:center}
@media screen and (min-width: 768px) {.modal.modal-center:before{display:inline-block;vertical-align:middle;content:" ";height:100%}}
.modal-center .modal-dialog{display:inline-block;text-align:left;vertical-align:middle}

/*== Floating Cart ===*/
.floating-sc{position:fixed;right:0;height:100%;z-index:10000}
.floating-sc .sc-btn{position:absolute;top:25%;right:0;cursor:pointer;text-align:center;width:60px;background:#333;color:var(--accent);overflow:hidden;box-shadow:-2px 2px 4px #797979}
.floating-sc .sc-btn > i{font-size:1.8em;padding:1.25rem 0;padding-bottom:0}
.floating-sc .sc-btn > div{padding:3px 0;font-size:10px}
.floating-sc .sc-btn > div:nth-child(3){background:var(--accent);color:#fff;font-weight: bold;font-size: 13px;}
.floating-sc .sc-body{display:none;position:absolute;top:0;right:0;width:400px;height:100%;background:#fff;box-shadow:-2px 0 10px #353535;animation:FloatingCartIn .6s cubic-bezier(.25,.37,0,.99)}
.floating-sc .sc-body.open{display:block}
.sc-cart-open{overflow:hidden;padding-right:15px;}
.sc-cart-open .floating-sc{width:100%;background-color:rgba(0,0,0,.6);}
.sc-cart-open .sc-body{display:block}
.sc-body-top{padding:10px;background:#333;color:#fff;height:50px}
.sc-body-top h4{margin:0;margin-top: 3px;font-size: 20px;text-align: center;}
.floating-sc-close{float:left;cursor:pointer;padding:0px 6px;color:var(--accent);font-size: 30px;line-height: 1;}
.floating-sc-close.icon-toggle-sidemenu{float:right}
.fsc-content{height:calc(100% - 50px);background-color:#F5F5F5;}
.scb-cart-area{height:calc(100% - 50px);overflow-x:hidden;overflow-y:auto;padding:15px}
.fc-table{margin-bottom:0}
.sinlge-fc-item{background:#fff;position:relative;padding:5px 0;margin-bottom: 1rem;box-shadow: 0 1px 1px 0 rgba(85,95,110,.2);}
.rmv-crt-btn {padding: 2px 10px;font-size: 20px;cursor: pointer;position: absolute;right: 0}
.rmv-crt-btn:hover{color:red}
.fc-item-dis > img{display: block;margin:0 auto;max-height: 85px;}
.dis-title{padding: 10px;}
.dis-title > div{font-size: 13px;display: flex;justify-content: space-between;margin-bottom: 3px;}
.dis-title > div.total{border-top: 3px solid #f5f5f5;padding-top: 3px;}
.dis-title > div > span{font-weight: bold;}
.dis-title > div > span:last-child{font-weight: normal;text-align: right;}
.table.fc-table span[data-ciup]{display:block;cursor:pointer}
.scb-footer{height:50px}
.scbf-link{display:inline-block;width:50%;text-align:center;height:50px;line-height: 50px;background-color: #fff;color:var(--accent)}
.scbf-link:last-child{background:#58595b;font-weight: bold;}
.fc-tamount{text-align:center;padding:7px 0;background:#ccc;border-radius:7px 7px 0 0}

/*== Header ===*/
header{position: fixed;top:0;left:0;width:100%;background: var(--header);z-index:1030}
.header_top_content_section{border-bottom: 1px solid #c1c1c1;}
.site-branding-area .branding-flex{align-items:center;position:relative}
.site-branding-area .logo{margin:0.5rem 0}
.logo img{max-width:100%;max-height:25px;}
.site-branding-area .cols:not(.logo-cols,.last-cols){padding:0}
.site-branding-area .cols.last-cols{padding-left:0}
.logoiconop{margin:2.25rem 0;text-align:right}
.logoicon,.logoiconp{display:inline-block;vertical-align:top;color:#777575}
.logoiconp{text-align:left}
.logoicon .opicon{display:inline-block;font-size:17px;margin-right:8px;width:30px;height:30px;line-height:26px;border:1px solid #777575;border-radius:50%;text-align:center}
.logoicon img{height:17px}
.logoiconp .pstrong{margin:0;font-size:12px;font-weight:600}
.logoiconp .pstrong span{color:var(--accent)}
.logoiconp .pnormel{margin:0;font-size:11px}

.ht-right{display:flex;justify-content:flex-end;-webkit-box-pack:end;-webkit-box-align:center;align-items:center}
.ht-right .serachbox{flex:3}
.searchfld{width:100%;margin:0 auto;position:relative}
.searchfld .input-text{display:block;width:100%;color:#777575;padding:.5rem .5rem .5rem 3.725rem;border-radius:5px;border:0;background-color:#f4f4f4;height:40px;font-family:'Poppins';font-size:13px;font-weight:400}
.searchfld .input-text:focus{box-shadow:0px 2px 3px #bfbfbf;outline:none}
.searchfld .subs{position:absolute;top:0;left:0;background:transparent;border:none;padding:.375rem .725rem;height:100%}
.subsi{color:#777575;font-size:24px}
.deskv .srch-datalist{display:none;position:absolute;top:100%;left:0;width:100%;z-index:2;background:#fff;border:1px solid #777575;border-top:0;border-radius:0px 0px 5px 5px;box-shadow:1px 4px 5px -2px #777}
.srch-datalist li{list-style:none}
.srch-datalist li > img{float:left;width:45px;padding-left:1rem}
.single-srchdata{margin:1.5rem 0}
.srch-datalist li a{display:block;padding:0 1rem;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.srch-datalist li a span{display:block;font-size:13px;color:#999}
.searchfld.focussed .input-text{border-bottom-color:#eee;border-radius:5px 5px 0 0}
.searchfld.focussed .srch-datalist{display:block;min-height:30px;max-height:70vh}
.ht-right-icon{padding: 0 6px}
.ht-right-icon i{font-size:24px}
.icon-shopping-bag .cart-contents{position:relative;display:block}
.cart-contents .count{position:absolute;line-height:19px;width:20px;height:20px;font-size:12px;line-height:22px;left:14px;top:-3px;background-color:#333;color:#fff;border-radius:50%;text-align:center}

.mainmenu-area1{font-family:"Roboto",sans-serif;text-transform:capitalize;width:100%}
.mainmenu-area1 .cacaallpaje{background-color:#fff!important;padding:0rem 2.25rem}
.mainmenu-area1 .manue{width:100%;line-height:25px;background-color:#fff;position:relative}
.manue .nav.navbar-nav{height:auto;width:100%;white-space:nowrap;overflow:visible;float:none;display:flex;border-left:0}
.manue .nav.navbar-nav.dropdown-menu{border-top:0;padding-top:0;border-radius:0;box-shadow:0 9px 12px -3px rgba(0,0,0,.175)}
.manue.index-menu .nav.navbar-nav{width:100%;height:415px;overflow-y:auto;white-space:nowrap}

.manue a{text-decoration:none;color:var(--accent);font-size:14px}
.manue i{padding-right:6px}

.mainmenu-area-quicklinks .m-a-links{padding:0;margin:0}
.m-a-links li{display:inline-block}
.m-a-links > li > a{position:relative;display:block;padding:0rem 1rem;font-weight:700;font-size:14px;line-height:50px;height:50px}
.m-a-links > li > a::after{position:absolute;content:"\f106";display:none;bottom:-2px;left:50%;text-align:center;font-family:FontAwesome;font-size:28px;line-height:.5em;background:#fff;overflow:hidden;transform:translateX(-50%);font-weight:400;color:#888}
.m-a-links > li:first-child > a::after{display:block;}
.m-a-links:hover > li:first-child > a::after{display:none}
.m-a-links > li:hover > a::after{display:block!important}

.header-floating-menu{position:absolute;width:100%;height:80vh;left:0;background:#fff;z-index:1;animation-duration:.5s;display:none;border-top:1px solid #aaa;}
.header-floating-menu.beauty-menu{height:auto}
.m-a-links li:hover .header-floating-menu{display:block}
.hfm-bl-sec{margin-bottom:20px}
.hfm-title{margin-top:0;border-bottom:1px solid #eee;padding-bottom:5px;font-weight:bold}
.hfm-brands{padding:2rem}
.hfm-brands .hfm-brandsection-right{display:flex}
.hfm-brandsection-right .hfmr-lnav{flex:0 0 5%}
.hfm-brandsection-right .hfmr-full{flex:0 0 95%}
.hfmr-lnav .brand-env-nav li{display:block;text-align:center}
.hfmr-lnav .brand-env-nav li a{padding:0;font-weight:bold;font-size:12px}
.hfmr-lnav .brand-env-nav li a:hover{color:var(--accent);background-color:transparent}
.hfmr-full .hfm-title{text-align:center;font-size:15px;border-bottom-width:2px;border-bottom-color:#333;}
.beauty-menu .hfm-brands .flex-item{padding:0 1rem;}

.wishlistall{padding:0;margin:0;text-align:right}
.wishlistall > li{height:35px;width:35px;line-height:36px;text-align:center;list-style-type:none;display:inline-block}
.wishlistall > li a{padding:0.5rem;position:relative;color:#888;display:block}
.wishlistall > li a .badge{position:absolute;top:0;right:-4px;background:#fff;color:#888;border:1px solid #888;padding:2px 5px}
.wishlistall > li i{font-size:2.5rem}
.wishlistall > li.dropdown .dropdown-menu{left:auto;right:-50px}

.home-floating-menu-container{position:relative;z-index:1000}
.home-floating-menu-container .mainmenu{background:#fff;box-shadow:0px 1px 2px #a8a6a6}
.mainmenu ul{/* min-height:413px */}
.mainmenu ul li{float:none;height:55px;display:block;margin:0 auto;}
.mainmenu ul li a{color:#333;letter-spacing:0.4px;font-size:14px;font-weight:400;padding:0 25px;text-transform:capitalize;line-height:55px;background-position: center center;background-repeat: no-repeat;}
.mainmenu ul li a:focus{background-color:transparent}
.mainmenu ul li a.has-bg{color:#fff;text-shadow: 1px 1px 1px #333;}
.mainmenu ul li a span{padding-right:5px}
.mainmenu ul li a i{text-align:right}
.mainmenu ul li a:hover, .mainmenu ul li a.active, .shop-menu ul li a.active{background-color:transparent;color:var(--accent)}
.mainmenu ul li a.has-bg:hover, .mainmenu ul li a.has-bg.active, .shop-menu ul li a.has-bg.active{color:#fff}
ul.sub-menu{position:absolute;left:0;right:0;background:#fff;list-style:none;padding:0 10px;margin-left:0;border:1px solid #e5e5e5;box-shadow:0 3px 3px rgba(0,0,0,0.1);display:none;z-index:999;min-height:100%}
.navbar-nav li ul.sub-menu li{padding:6px 0px;border:0;line-height:1.1em;height:auto}
.navbar-nav li ul.sub-menu li a{font-weight:400;color:#7f7f7f;font-size:14px;line-height: 1.1;}
.navbar-nav li ul.sub-menu li a:hover{color:var(--accent)}
.manue .fa-angle-down{float:none;position:absolute;right:6px;top:50%;transform:translateY(-50%)}
.nav.navbar-nav>li:hover>ul.sub-menu, .nav.navbar-nav>li.show>ul.sub-menu{display:flex;flex-wrap:wrap}
.sub-menu > .sub-cols{padding:10px 15px}
.sub-menu > .sub-cols:nth-child(2n){background-color:#f7f7f7}
.sub-menu > .sub-cols > a{padding:0}
.sub-menu h3{font-size:13px;color:#333;margin:2px 0;text-transform:uppercase;font-weight:bold}

.fixed-menu-bar header{/* animation:slideDown .4s */}
.fixed-menu-bar .header_top{display:none}
.fixed-menu-bar .searchfld{margin:5px auto} 
.fixed-menu-bar .wishlistall > li{margin:4px 6px}
.fixed-menu-bar .mainmenu-area1 .cacaallpaje{border-bottom:1px solid #ddd;border-radius:10px}
.fixed-menu-bar .site-branding-area, .fixed-menu-bar .sticky-wrapper{display:inline-block;vertical-align:middle;animation-duration:.2s}
.fixed-menu-bar header .cols:not(.logo-cols){display:none}
.fixed-menu-bar header .container{width:auto}
.fixed-menu-bar .sticky-wrapper{width:80%}
.fixed-menu-bar .site-branding-area{width:18%}
.fixed-menu-bar .logo img{height:50px}
.fixed-menu-bar .skbc-top-margin{height:60px}
.fixed-menu-bar .mainmenu-area1{border-top:0}
.htmlformb.fixed-menu-bar .site-branding-area{display:block;width:100%}
.htmlformb.fixed-menu-bar .sticky-wrapper{display:none}

/*=========== Main body =======*/
#skbc-top-margin{height:105px}
.main-body{background:var(--mainbody);min-height:45rem;padding-top:3rem}
.main-body.bg-white{background:#FFF}
.main-body.sc-cart-open .container{width:73%;margin-left:0;transition:width .5s}
.main-body .spd{margin-bottom:2.5rem}
.section-mb.bg-main{background: #fcfcfc}
.mb-content{padding: 1.5rem}

.single-layout-grid{position: relative;margin-bottom: 30px;transition: box-shadow .5s;}
.single-layout-grid:hover{box-shadow: 0 2px 12px 0 rgba(0,0,0,0.3);}
.slg-image a, .slg-image img{display: block;}
.slg-image img{width: 100%; margin: 0 auto;}
.slg-image img.video-play{width:70px;height:auto;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.slg-text{text-align: center;background: rgba(255,255,255, 0.90);padding: 12px 20px}
.slg-text:not(.slg-text-ps){position: absolute;bottom: 12px;left: 12px; width: calc(100% - 24px);}
.slg-text p, .slg-text h5{margin: 0;}
.slg-text h5{margin-bottom: 5px;font-weight: bold;color: var(--accent);}

.homepage-top-section .menu-selection{padding-right:0px}
.homepage-top-section .slider-section{padding-left:0px}
.trending-categories{max-width:100%}
.tc-list{display:flex;flex-direction:row;justify-content:center}
.tc-list .tc-single{flex:0 1%;min-width:130px;text-align:center;padding:1.4rem}
.tc-list .tc-single:first-child{text-align:left}
.tc-single .tc-single-img{width:100%;padding-top:100%;border-radius:50%;background-size:100%;background-color:#ccc;background-position:center;background-repeat:no-repeat}
.tc-single .tc-single-title{padding:5px 0;line-clamp: 2;-webkit-line-clamp:2;line-height:1.1em;max-height:2.4em;overflow:hidden;text-overflow:ellipsis}
.ft-title{padding: 1.5rem;padding-right: 0;}
.ft-title .ft-title-left, .ft-title .ft-right-nav{display:inline-block}
.ft-title-left{width:50%}
.ft-title .ft-ft-title{margin-right:20px;font-size:18px}
.ft-title .ft-ft-title > img{height:35px}
.ft-timer{display: inline-block;}
.ft-timer .fdt-live{margin-right: 10px;color: var(--accent);animation: blinking .3s ease-in-out;}
.ft-timer .fdt-timer{margin-right: 10px;color: #333;}
.ft-timer .fdt-timer span{padding: .5rem;font-size: 17px;font-weight:600;color:var(--accent)}
.ft-right-nav{text-align: right;width:50%}
.ft-right-nav .ft-more-btn{padding: .5rem 1.75rem;background: #fff;color: var(--accent);border: 1px solid #ccc;border-right: 0;border-radius: 30px 0 0 30px;box-shadow: inset 1px 0px 2px #ececec;}

.homepage-brand-section .brand-flex{margin-left:-1.5rem;margin-right:-1.5rem;flex-wrap:wrap}
.top-brands .single-brand{width:25%;flex:0 0 25%}
.single-brand-info .sb-brand-image{padding:50%;background-position:center;background-size:80%;background-repeat:no-repeat}
.sb-brand-title{color:#000}
.sb-brand-title span{margin-left:5px;padding:0.1em 0.9em 0.1em;background-color:#ddd;color:#333}

.single-product {overflow:hidden}
.grid-row{display:grid;grid-template-columns:repeat(6, 1fr);grid-gap:2.5rem;align-items:start;justify-items:center;margin:0}
.grid-row.grid4{grid-template-columns:repeat(4, 1fr);}
.grid-row.grid3{grid-template-columns:repeat(3, 1fr);}
.grid-row .grids{width:100%;height:100%}
.grid-row .grids.large-grid{grid-row:span 2;grid-column:span 2}
.grid-row .grids.large-grid.onlycolspan{grid-row:span 1;grid-column:span 2}
.sp-image {position:static;height: 58%}
.sp-dis{position:absolute;left:20px;top:12px;color:#FF5722;font-size:13px;font-weight:bold}
.sp-image img{display:block;margin:50px auto;max-width:90%;max-height:100%;transition: max-width 1s;}
.sp-pr{position:relative;padding:2em 1.75em;text-align:center}
.sp-pr-info h5{margin:0 0 .5rem;font-weight:400;font-size:1.4rem;line-height:1.5rem;max-height:3rem;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;line-clamp:2}
.sp-pr-info p{font-size:14px;font-weight:400;color: #181818;;margin:0;font-family: 'open sans', 'Roboto', sans-serif;}
.sp-pr-info p .price{font-size:15px;color:#181818}
.sp-pr-info .p-old{font-size:95%;margin-left:8px;color:#b0b0b0;text-decoration:line-through}
.sp-nav{opacity:0;display: flex;position: absolute;bottom: 0;width: 100%;overflow:hidden;background: #fff;transition: all .5s ease;border: 1px solid #58595b;height:47px;line-height:45px;}
.sp-nav .add-cart, .sp-nav .buy-now{width: 25%;font-size: 25px; color: #58595b; font-weight: 600;font-family: 'open sans', sans-serif; text-align: center;}
.sp-nav .buy-now{width:75%;background:#58595b;color: var(--accent);font-size: 15px;}
/* .single-product:hover .has-sp-nav .sp-pr, .single-product.fixed-nav .has-sp-nav .sp-pr{top:-20px;background:rgb(255,255,255)} */
.single-product:hover .sp-image img{max-width:100%}
.single-product:hover .has-sp-nav .sp-nav, .single-product.fixed-nav .has-sp-nav .sp-nav{opacity:1}
.bc-products .single-product, .product-page-products .single-product{height:490px;position:relative;border:0;box-shadow:none;transition:box-shadow .4s;background-color: #fff}
.col-md-3 .bc-products .single-product{height:370px}
.col-md-4 .bc-products .single-product{height:440px}
.bc-products .single-product:hover, .product-page-products .single-product:hover{box-shadow:0 1px 6px rgba(0,0,0,.3)}

.prgrid-ads-section{overflow:hidden}
.prgrid-ads-section .prgrid-ad-img{display:block}
.prgrid-ads-section .prgrid-ad-img img{display:block;width:100%}

.section-browse-cat{}
.bc-single{margin-bottom:2rem;position:relative}
.bc-main-title{text-align: center; font-size: 2.4rem;font-weight: 400;margin-bottom: 35px; margin-bottom: 30px;}
.bc-cat-name{font-weight:600;font-size:1.5rem;margin:1rem 0}
.bc-singe{margin-bottom:1.75rem;}
.bc-cat-all{position: absolute;bottom: 0;width: 100%;text-align: right;border-bottom: 1px solid #f2f2f2;overflow: hidden;}
.bc-cat-all > div{position: absolute;top: 11px;background: linear-gradient(to bottom, #fff0, #ddd);width: 100%;transform: rotate(-1deg);left: 129px;}
.bc-cat-all > a{position: relative;z-index: 1;padding: 0.05rem 1.35rem;color: #6a6a6a;}

/*=========== Footer =======*/
#footer{background:#fcfcfc;border-top: 1px solid #ddd}
.footer-widget{background-color:#fff;padding-bottom:40px}
.footer-widget .container{padding-top:15px}
.single-widget h2{color:#333;font-family:'Roboto',sans-serif;font-size:17px;font-weight:400;margin-bottom:1.5rem;text-transform:uppercase}
.single-widget h2 i{margin-right:15px}
.nav-stacked li i{display:inline-block;padding-right:5px;font-size:11px}
.single-widget ul li a{display:inline-block;vertical-align:middle;color:#333;font-family:'Roboto',sans-serif;font-size:14px;font-weight:300;padding:5px 0}
.single-widget ul li a:hover{background:none;color:var(--accent)}

.nuws{padding:10px 0}
.nuws p{color:#333}
.nuws h2{color:#333;font-family:'Roboto',sans-serif;font-size:17px;font-weight:500;margin:5px 0;text-transform:uppercase}
.social-icons ul li{display:inline-block;margin-right:3px}
.social-icons ul li a{border:0 none;border-radius:0;color:#696763;padding:0}
.social-icons ul li a i{font-size:20px;text-align:center;color:#fff;padding:9px;height:35px;width:35px;position:relative;overflow:hidden}
.social-icons ul li a i:before{position:relative;z-index:2}
.social-icons ul li a i:after{display:block;position:absolute;top:0;left:0;width:100%;height:100%;content:' ';background:linear-gradient(240DEG, var(--accent), #FFF);opacity:0;transition:all .4s ease}
.fa-facebook{background: linear-gradient(120DEG, #3B599B, #3B599B, #FFFFFF)}
.fa-twitter{background: linear-gradient(120DEG, #5BBCEC, #5BBCEC, #FFFFFF)}
.fa-linkedin{background: linear-gradient(120DEG, #DA2499, #0274B0, #3edde6)}
.fa-youtube-play{background: linear-gradient(120DEG, #F00, #F00, #FFFFFF)}
.fa-pinterest{background: linear-gradient(120DEG, #E60023, #E60023, #FFFFFF)}
.fa-google-plus{background: linear-gradient(120DEG, #CE3C2D, #CE3C2D, #FFFFFF)}
.fa-skype{background: linear-gradient(120DEG, #00AFF0, #00AFF0, #FFFFFF)}
.fa-whatsapp{background: linear-gradient(120DEG, #58CF63, #3DC34D, #27B63E)}
.fa-instagram{background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)}
.social-icons ul li:hover a i:after{opacity:1}
.searchform input{flex:5 0%;border:1px solid #ccc;color:#333;font-family:'Roboto',sans-serif;font-size:14px;outline:none;padding:3px 7px;border-top-left-radius:4px;border-bottom-left-radius:4px}
.searchform button{background:var(--accent);border:medium none;padding:7px 17px}
.searchform button:hover,.searchform button:focus{background-color:var(--accentsec)}
.btn-sub{flex:1 0%;padding:7px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.428571429;text-align:center;white-space:nowrap;cursor:pointer;color:#fff;background-color:var(--accent);border-color:var(--accent);border-radius:0 4px 4px 0}

.footer-top{padding:.75rem 0}
.footer-top .pm-delv{text-align:center}
.footer-top .pm-delv > h4{margin-top:0;color:#272626;display:block}
.footer-top .pm-delv > img{display:inline-block;margin-right:.5rem;height:60px;border:1px solid #ddd}

.footer-bottom{background:#333;padding-top:5px}
.footerlogo{height:30px;border-radius:5px}
.footer-bottom p{color:#fcfcfc;font-family:'Roboto',sans-serif;font-weight:300;margin-left:14px;margin-bottom:0}
.footer-bottom p a{font-size:12px;color:#fff;font-style:italic;text-decoration:underline}

/*=========== Product Page =======*/
.product-filter-sidebar{padding-right:0}
.ppc-single-slide{position: relative;}
.ppc-single-background{position: absolute;width:100%;height:100%;background-size:150%;filter:blur(20px) opacity(0.7);background-position: center center}
.ppc-single-image{position: relative;z-index: 2;text-align: center;}
.ppc-single-image img{display: inline-block;max-width: 100%;max-height: 250px;}
.filter-form{margin-bottom:1.25rem;box-shadow:0 0 2px #e1e1e1;background-color:#fff}
.filter-form .filter-by-titile{padding:1rem;color:var(--accent);font-size:16px;font-weight:400;border-bottom:1px solid #f7f7f7}
.filter-form > h4{text-transform:capitalize;margin:0;padding:1.5rem 1rem;font-size:16px;font-weight:700;margin:0 1rem;border-bottom:1px solid #efefef;}
.ff-main{outline:none;padding: 1.5rem 1.5rem}
.ff-main.scroll-pane{overflow:auto;max-height:250px}
.price-range-box li{list-style:none;display:inline-block;width:calc(33% - 1rem);margin:0 .125rem;text-align:center}
.price-range-box li.hypen{width:1rem}
.price-range-box li input{display:block;width:100%;border:1px solid #ccc;border-radius:20px;padding:.175rem;text-align:center}
.price-range-box li input:focus {outline:none}
.price-range-box li button{width: 100%;border: none;border-radius: 20px;padding: .175rem;background: #ccc;}
.filter-form a{color:#696763}
.filter-form .radio,.filter-form .checkbox,.filter-form .toggle,.filter-form .button{position:relative;display:block}
.filter-form .radio i,.filter-form .checkbox i,.filter-form .toggle i{border-color:#e5e5e5;transition:border-color .3s;-o-transition:border-color .3s;-ms-transition:border-color .3s;-moz-transition:border-color .3s;-webkit-transition:border-color .3s}
.filter-form .radio,.filter-form .checkbox{outline:none;border:none;margin-bottom:0px;padding-left:27px;font-size:13px;line-height:27px;color:#555;cursor:pointer;text-transform:capitalize;font-weight:400;margin-top:0}
.filter-form .radio{text-transform:none}
.filter-form .radio:last-child,.filter-form .checkbox:last-child{margin-bottom:0}
.filter-form .radio input,.filter-form .checkbox input{position:absolute;left:-9999px}
.filter-form .radio i,.filter-form .checkbox i{position:absolute;top:5px;left:0;display:block;width:17px;height:17px;outline:none;border-width:2px;border-style:solid;background:#fff}
.filter-form .checkbox i{width:15px;height:15px}
.colr-filter-form .checkbox i{border:0;border-radius:50%;width:20px;height:20px;top:3px}
.brand-filter-form .brand-box{display: inline-block;vertical-align:bottom;width: 47%;margin: 3% 1%;padding: 0;text-align: center;}
.brand-filter-form .brand-box .bb-check{padding:3px;border:1px solid #ddd;line-height:1.2em}
.brand-filter-form .brand-box .bb-check i{top:auto;left:auto;bottom:-1px;right:-1px}
.brand-filter-form .brand-box img{max-width:100%;height:40px}
.brand-box h5 {margin:.375rem;line-height:1.2em;height:calc(40px - 0.75rem);overflow:hidden;font-family:'Eras Bold ITC';font-size:12px}

.filter-form .radio i{border-radius:50%}
.filter-form .radio input + i:after,.filter-form .checkbox input + i:after{position:absolute;opacity:0;transition:opacity .1s;-o-transition:opacity .1s;-ms-transition:opacity .1s;-moz-transition:opacity .1s;-webkit-transition:opacity .1s}
.filter-form .radio input + i:after{content:'';top:4px;left:4px;width:5px;height:5px;border-radius:50%}
.filter-form .checkbox input + i:after{content:'\f00c';font-family:'FontAwesome';font-size:10px;line-height:10px;top:0;left:0;text-align:center}
.filter-form .radio input:checked + i:after,.filter-form .checkbox input:checked + i:after{opacity:1}
.filter-form .input input:focus,.filter-form .select select:focus,.filter-form .radio input:focus + i,.filter-form .checkbox input:focus + i,.filter-form .toggle input:focus + i{border-color:#2da5da}
.filter-form .radio input + i:after{background-color:var(--accent)}
.filter-form.colr-filter-form .checkbox input:checked + i::after {font-size:16px;top:5px;text-shadow:1px 1px 2px #000;color:#fff}
.filter-form .checkbox input + i:after{color:var(--accent)}
.filter-form .radio input:checked + i,.filter-form .checkbox input:checked + i,.filter-form .toggle input:checked + i{border-color:var(--accent)}

.top-title, .product-page-products, .product-page-filter-searchbox {padding: 2rem 1.25rem;padding-bottom: 0;}
.product-page-filter-searchbox{padding-top: 0;}

.product-page-filter-searchbox .searchfld .input-text{background-color:#fff;box-shadow:0 1px 1px 0 rgba(85,95,110,.2)}
.top-title-left > h4{margin-top: 0;font-size: 17px;font-weight: 400;}
.top-title-left .tt-filter{margin: 0.5rem 0;}
.tt-filter .ttf-single{display:inline-block;margin-right:5px;padding:.375rem 1rem;border:1px solid #ddd;border-radius:20px}
.tt-filter .ttf-single .ttf-close{padding-left:5px;font-weight:600;text-shadow:0 0 2px #faa;cursor:pointer;color:#333}
.tt-total-pr{display:flex;justify-content:space-between;align-items:center}
.sorter-label{color:#666;margin:0 10px;font-weight:400}
.sort-options._desV{display:inline-block}
.sort-options select{background:#fff;border:0;padding:.25em 2.5em .25em .9375em;height:36px;font-weight:600;font-family:'open sans',sans-serif;box-shadow:0 1px 1px 0 rgba(85,95,110,.2);border-radius:4px;color:#697782}
.sort-options li{display:inline-block;position:relative;list-style-type:none;padding:0 .5rem;font-size:14px;border-bottom:2px solid transparent}
.sort-options a{color:#333}
.sort-options li.active {border-bottom-color:var(--accent)}
.sort-options li.active a {color:var(--accent)}
.sort-options li .hover-drop-panel {display:none}
.sort-options li:hover .hover-drop-panel {display:block}
.sort-options .hover-drop-panel{position: absolute;width: 100px;z-index: 99;background: #fff;box-shadow: 0px 3px 3px #ccc;right:0}
.hover-drop-panel a{display:block;padding:.75rem 1rem}
.hover-drop-panel a:hover{background:var(--accent);color:#fff}

.empty-product-page{padding:2rem 0;text-align:center}
.empty-product-page > h4{font-size:2.5rem;color:#a2a2a2}
.pp-nav{text-align: center;padding: 1rem;}
.pp-nav a{padding: .375rem .75rem;color: #fff;background: #9b9b9b;border-radius: 3px;}
.more-pr-by-ajax > div {min-height: 150px}

/*=========== Details Page =======*/
.page-navigator, .page-navigator .breadcrumb{background-color:#fcfcfc}
.page-navigator .breadcrumb{padding:15px 0;margin-bottom:0}
.details-page-feature{padding: 45px 15px;background-color: #fff;}
.thumb-image.no-stock:after{background-image:url('../../images/no-stock.png');background-size:100% 100%;width:100%;height:100%;position:absolute;top:0;left:0;display:block;content:'';opacity:0.3}
.pt-area{font-size:14px;margin-bottom:1.5rem}
.pt-area > p{margin-bottom: 5px;}
.pt-area .price-review-flex{justify-content: space-between;align-items: center;}
.price-review-flex p{margin: 0;}
.pr-name{font-weight:bold;font-size:2.5rem;margin-bottom:1rem;margin-top:0px}
.pr-price{color:var(--accent);font-size:2.5rem;font-weight:500}
.pre-price{color:#acacac;font-size:2rem;font-weight:300;margin-left:7px;text-decoration:line-through}

.pr-entl{margin-bottom:.5rem}
.pr-entl .entl-data{font-weight:bold}
.pr-entl .entl-data.ava{color:#0b0}
.pr-entl .entl-data.ava.notava{color:#b00}

.pr-size-color, .pr-buy-navs, .pr-short-description, pr-meta-info{margin: 2.5rem 0;}

.pr-sc-ul, .qty-selection{padding:0}
.qty-selection{margin: 0;}
.pr-sc-ul > div, .qty-selection > div{color:#888;padding-bottom:0.375rem;font-size:14px}
.pr-sc-ul li{border:1px solid #dad6d6;margin-right:5px;display:inline-block;padding:5px 15px;cursor:pointer;border-radius:10px}
.color-selection li{text-transform:capitalize;padding-left:7px}
.pr-sc-ul li:hover, .pr-sc-ul li.active {transition:border .4s; color:var(--accent); border-color:var(--accent)}
.pr-sc-ul li.active{background:#eff}
.color-selection li > i{width:35px;height:27px;display:inline-block;vertical-align:middle;margin-right:4px;border-radius:10%}

.qty-selection {display: flex;}
.qty-selection li{width:40px;font-size:20px;text-align:center;background-color:#f3f3f3;font-weight:600;}
.qty-selection li a{color:#666;padding:0px 10px;}
.qty-selection li.item_plus{cursor:pointer}
.qty-selection li.item_minus{cursor:pointer}
.qty-selection .item_qty_input input{background-color:#f3f3f3;width:100%;height:100%;padding:0;appearance:none;-webkit-appearance:none;-moz-appearance:textfield;text-align:center;outline:none;box-shadow:none;border:0}

.bnav-btns{padding:0; margin-bottom: 0; margin-left:1rem}
.bnav-btns li{display:inline-block;cursor:pointer;padding:0px 25px;font-size:14px;height: 35px;line-height: 35px;}
.bnav-btns .add-to-cart{background-color: #58595b;color: var(--accent);}
.bnav-btns .quick-buy{background-color:var(--secondary);border:1px solid var(--secondary)}
.bnav-wishlist{color:#888}
.bnav-wishlist a{padding-left:3px;color:#ff983e}
.pr-short-description{padding: 1rem;background-color: #f3f3f3;color: #58595b;line-height: 1.75em;}
.pr-short-description ul li{list-style: disc;}

.pr-meta-info > span{display: block;margin-bottom: 5px;color: #666;}
.pr-meta-info > span > span{font-weight: 500;color: #333;}

.share{margin-top:25px;padding:0;text-align: center;}
.shareli, .share li {display:inline-block;margin-right:5px;margin-bottom:0;vertical-align:bottom;line-height:1}
.share li a i{font-size:16px;text-align:center;color:#fff;padding:4px 0;width:30px;border:1px solid #fff}
.share li a i:hover{border-color:#333;background:transparent;color:#333}

.details-top-right{padding-left:0;}
.glancebox-header{text-align: center;padding: 2px 0px;background: #58595b;color: var(--accent);font-weight: bold;margin-bottom: 1.5rem}
.pr-glancebox{background-color: #fff;margin-bottom:1.5rem;padding:.725rem}
.pr-glancebox .gb-image img{max-width: 100%;}
.pr-glancebox .gb-title {font-size: 12.5px; line-height: 1.2; margin-bottom: 4px;text-align:left}
.pr-glancebox .gb-val{font-size:2rem;margin: .75rem}
.pr-glancebox .gb-pr-buy-nav{margin-top: 15px;margin-bottom: 5px;}
.pr-glancebox .qty-selection{margin: 0;}
.pr-glancebox .qty-selection li{font-size: 15px;}
.pr-glancebox .gb-pr-buy-nav .add-cart{margin-left:5px;line-height:1.5;text-align:center;background-color:#58595b;color:var(--accent);height:auto}
.pr-glancebox ul{padding:0;text-align:left;}
.pr-glancebox .gb-col-groups{display:flex}
.pr-glancebox .gb-col-groups i{padding-top:.3rem; padding-right:.5rem}
.inline-form{position: relative;margin:.75rem 0}
.inline-form input, .inline-form textarea{width: 100%;border: 1px solid #ccc;padding: .375rem 1rem;border-radius:20px;outline:none}
.inline-form button{border-radius: 20px;border: none;position: absolute;right: 3px;padding: calc(.375rem - 1px) 1rem;top: 2px;background: var(--accent);color: #fff;box-shadow: 0px 2px 2px #bbb;}

.details-page-bottom{background-color: #fff;}
.discription-review-title{display:block;text-align:center;margin:0;padding:3.25rem 0;font-size:15px;}
.discription-review-title span{margin-left:10px;}
.discription-review-title span a{color:#888;background-color:#fcfcfc;border:1px solid #fcfcfc;font-weight:bold;padding:10px 20px;}
.discription-review-title span a.active{color:#000;border-color:#000;}
.discription-review-body{padding:1.5rem;font-size:1em}

.row.ratings .rating-review h1{font-size:3rem;display:inline-block}
.row.ratings .rating-review h4{display:inline-block}
.row.ratings .rating-review .stars{display:block;margin:5px auto}
.user-rating .row-rat{margin-bottom:.5rem}
.row-rat .rating-progress{display: inline-block;position:relative;width: 150px;height: 10px;background: #eee;border-radius: 10px;margin-left: .5rem;}
.row-rat .rating-progress span{position: absolute;left: 0;top: 0;height: 100%;background: #888;border-radius: 10px;}
.user-review-section .media .media-object{height:60px}
.user-review-section .media .media-heading{margin-bottom:3px}
.user-review-section .media .media-rat{display:inline-block;margin-bottom:1rem}
.user-review-section .media .media-mntn{color:#3577e1;font-style:italic}
.user-review-section .new-review a{color:var(--accent)}
.user-star-rating{margin-top:2rem}
.user-star-rating > h5{margin:0;display:inline-block;vertical-align:middle}
.us-rating{display:inline-block;vertical-align:middle;font-size:30px;line-height:20px;overflow:hidden}
.us-rating input{float:right;opacity:0;position:absolute}
.us-rating label{float:right;color:#aaa;text-decoration:none;-webkit-transition:color .4s;-moz-transition:color .4s;-o-transition:color .4s;transition:color .4s}
.us-rating label:hover ~ label,.us-rating input:focus ~ label,.us-rating label:hover{color:var(--accentsec);cursor:pointer}
.us-rating input:checked ~ label{color:var(--accent)}

.question-top .media-object{padding-right: .75rem;padding-left: 1px;}
.question-top .media-body .media-heading{margin-bottom:0;font-size:14px}
.question-top .media-body p{margin: 0;font-size: 95%;color: #888;}
.question-top .qstn-reply-section{margin-top: 1rem;background: #fcfcfc;padding: 1rem;}
.qstn-reply-section h5{font-weight: 300;text-decoration: underline;}
.qstn-reply-section .new-qus-reply{margin-top:2rem}
.new-qus-reply .inline-form{width:100%;margin-bottom:0}
.new-qus-reply .inline-form textarea{resize:none;border-radius:10px}
.new-qus-reply .inline-form button{background:#888}

.seller-info .seller-top{border-bottom: 1px solid #ccc;margin-bottom: 1rem;}
.seller-info .seller-top{border-bottom: 1px solid #ccc;margin-bottom: 1rem;}
.rat-title {margin-bottom: 3px;color: #888;}
.seller-top .seller-score h1{margin-top: 1rem;text-align: center;}
.seller-ratings .row-rat {margin-bottom:1rem}
.seller-ratings .row-rat .rating-progress{width:100%}
.seller-ratings .rating-progress span{background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-size: 1rem 1rem;}

/*=========== Cart =======*/
.cart-area{padding:2rem}
.cart-table{margin:2rem 0; width:100%}
.cart-single, .tlist-single{border: 1px solid #eee;margin-bottom:1.5rem;padding: 1rem;position:relative}
.cart-single .remove, .tlist-single .tl-rem{position:absolute;right:10px;bottom:0;color:#888;font-size:20px}
.cart-single .remove:hover, .tlist-single .tl-rem:hover{color:#f00}
.cs-fullinfo, .tlist-fullinfo{font-size:0}
.cs-fullinfo .cs-primg, .tlist-fullinfo .tl-img{display:inline-block;vertical-align:top;width:var(--tlwdth);height:var(--tlwdth);border-radius:50%;background-size:cover;background-repeat:no-repeat;background-position:center}
.cs-fullinfo .cs-fi-area, .tlist-fullinfo .tl-area{display:inline-block;font-size:14px;padding-left:1rem;width:calc(100% - var(--tlwdth))}
.fi-cart-data, .tlist-fullinfo .tl-area .tl-data{color:#a5a3a4;font-weight:300;font-size:14px;text-transform:capitalize}
.fi-qty input{margin-left: 5px;padding: 0 .5rem;border: 1px solid #888;color: #888;width: 40px;text-align: center;line-height: 1rem;appearance:textfield;-webkit-appearance:textfield}
.fi-qty p{display:none;font-size:10px;margin:0 0 0 3rem}
/* .fi-qty input:focus + p{display:block} */
.cs-total{text-align:right;font-weight:400}

.coupon-area{display:block;width:40%}
.ca-tittle{color:#3a3a3a;margin-bottom:.5rem}
.used-cp{margin-top:.5rem;font-size:13px}
.used-cp > span{display:block}
.used-cp span > span{font-weight:600;color:var(--accent)}

.st-area{font-family:'Consolas', 'Roboto', sans-serif}
.st-area .ft-total{border-bottom:1px solid #eaeaea;font-size:16px;font-weight:400;color:#888;padding:0.75rem 0}
.ft-total::after {content: ' ';clear: both;display: block;}
.ft-total-left{float:left;width:50%}
.ft-total-right{float:right;width:50%;text-align:right}
.ft-total-bottom{text-align:right;margin-top:2rem}
.ft-total-tk{font-size:23px;font-weight:700}

.checkout-proceed{padding: 1rem;text-align: right;}
.ft-go-to-checkout{text-align:center;display:inline-block;font-size:1.14em;color:#fff;background-color:var(--accent);border:1px solid var(--accent);padding:0.25rem 2rem;font-weight:300}
.ft-go-to-checkout:hover{color:var(--accent);background-color:#fff}

/*===== Login Registration =====*/
.login_registration_body{display:block}
.login_registration_widget{width:80%;margin:3rem auto;padding:3rem;box-shadow:0px 0px 3px #cacaca}
.login_registration_widget.pd-0{padding:0rem}
.registration-page .login_registration_widget, .reset-account .login_registration_widget{width:100%;}
.reset-account .login_registration_widget{margin:0;padding:0;box-shadow:none}
.login_registration_widget .widget_title{margin-top:0;margin-bottom:2rem;font-size:20px;color:var(--accent)}
.login_registration_widget label.error{font-weight:400;font-size:12px;color:var(--accent)}
.login_registration_widget .forget{text-align:right;margin-top:-10px}
.login_registration_widget .forget a{font-size:12px;color:#888}
.login_registration_widget .forget a:hover{text-decoration:underline;color:#333}
.login_registration_widget .submit-btn{border:0;padding:5px 30px;background:#2e3192;color:#fff;display:inline-block;margin-right:3px}
.login_registration_widget .submit-btn.secondary{background:#888}
.login_registration_widget .submit-btn.searchacc-btn{margin:10px 0}
.login_registration_widget .swap-btn{margin-top:15px;padding-top:5px;border-top:1px dashed #ccc}
.login_registration_widget .swap-btn a{display:inline-block;color:#333;font-weight:bold;transition:all .4s}
.login_registration_widget .swap-btn a:hover{word-spacing:5px;letter-spacing:2px}

.registration-page .social-login-btns{margin-top:2em}
.social-login-btns .sl-btn{display:block;width:100%;text-align:center;border:0;color:#fff;font-weight:bold;line-height:40px;height:40px;border-radius:5px;font-size:16px;margin-bottom:10px}
.social-login-btns a[href=""]{opacity:.15;pointer-events:none}
.sl-btn > i{margin-right:30px;background:transparent} 
.sl-btn.facebook{background:#3b5998}
.sl-btn.google{background:#d34836}

.reset-account .verification-code{position:absolute;opacity:0;bottom:0;z-index:-2}
.reset-account .vcodelbl{display:flex;flex-wrap:nowrap}
.reset-account .vcodelbl span{flex:1;background:#eee;border:1px solid #ddd;text-align:center;padding:8px;font-size:2em;margin:0 1%;cursor:text;opacity:.3;min-height:55px}
.reset-account .verification-code:focus + .vcodelbl span{opacity:1}

/*=========== My Account =======*/
.card{padding:30px;background-color:rgba(214,224,226,0.2)}
.card.hovercard{position:relative;padding-top:0;overflow:hidden;text-align:center;background-color:#fff}
.card.hovercard .card-background{height:190px}
.card-background img{-webkit-filter:blur(25px);-moz-filter:blur(25px);-o-filter:blur(25px);-ms-filter:blur(25px);filter:blur(25px);margin-left:-100px;margin-top:-200px;min-width:130%}
.card.hovercard .useravatar{position:absolute;top:30px;left:0;right:0}
.card.hovercard .useravatar img{width:130px;height:130px;border-radius:50%;border:5px solid rgba(255,255,255,0.5)}
.card.hovercard .card-info{position:absolute;bottom:14px;left:0;right:0}
.card.hovercard .card-info .card-title{padding:0 5px;font-size:20px;line-height:1;color:#262626;background-color:rgba(255,255,255,0.4);border-radius:4px}
.card.hovercard .card-info{overflow:hidden;font-size:12px;line-height:20px;color:#737373;text-overflow:ellipsis}
.card.hovercard .bottom{padding:0 20px;margin-bottom:17px}
.btn-pref.myac-nav .btn{-webkit-border-radius:0!important;border-radius:0;border-right:0;}
.btn-pref.myac-nav .btn-group:first-child .btn{border-left:0;}
.btn-pref.myac-nav .btn span.fa{padding:0.75rem 0;font-size:22px;color:#888}

.well.my-accwell{border:0;border-radius:0;background:transparent;margin-bottom:0}
.user-image .user-options-nav{margin-top:.5rem}
.user-image .user-options-nav > a{font-weight:300;margin-bottom:.5rem;max-width:100%;white-space:normal}
.well.my-accwell p{margin-bottom:2px}
.well.my-accwell .userinfo-address{margin:10px 0;padding:10px;background:#f2feff}

.my-wishlists > h3, .order-history > h3, .my-reviews > h3 {margin:2rem 0;font-weight:700;color:#888}

.my-wishlists .tlist-single .tl-rem{font-size:16px}
.my-wishlists .tlist-fullinfo .fi-name{margin-bottom:1rem}
.my-wishlists .tlist-fullinfo .fi-name{margin-bottom:1rem}
.my-wishlists .tlist-fullinfo .fi-name a{font-size:2rem;font-weight:300}
.tlist-fullinfo .fi-nav li{list-style:none;display:inline-block}
.tlist-fullinfo .fi-nav li a{padding:.375rem 1.75rem;background:#ddd}

.order-history .orderHistory-title, .order-history .orderHistory-table{font-weight:300}
.order-history .orderHistory-table{margin-top:1rem}
.order-history .orderHistory-table{margin-top:1rem}

.my-reviews .tlist-single.new{font-weight:bold}
.my-reviews .tlist-single .fa{color:#666;margin-right:1rem;float:left}

/*=========== Contact Page =======*/
.support-bg{padding: 5rem;background-image: url('../../images/support-banner.jpg');background-size:cover;color: #fff;}
.support-title{font-size: 1.8em}
.support-title img{height:70px;filter:drop-shadow(4px 4px 2px #fff) grayscale(50%)}
.support-title span{display: inline-block;vertical-align: bottom;}
.support-bg > p{font-size:12px}

.support-quick-options{padding:2rem}
.support-quick-options .sqo-cat > h4{font-weight: normal;margin: 2rem 0;}
.sqo-cat ul {padding-left: 2.5rem;}
.sqo-cat ul li {display: inline-block;vertical-align:top;width: 43%;margin-right: 6%;padding: 1rem 2rem;border: 1px solid #ececec;margin-bottom: 1.55rem;}
.sqo-cat ul li a{color:#888}

.support-more{text-align:center}
.support-more .supm-box {display: inline-block;margin: .5rem 1rem;padding: 1rem;border: 1px solid#ccc;border-radius: 20px;background: #fcfcfc;}

/*===== Order Track =====*/
.order-track{background:transparent url(../../images/track.png) bottom right 6px/250px no-repeat;text-align: center;padding: 8rem;}
.order-track h3{font-weight:300;padding-bottom:1.5em}
.order-track .form-area{width: 50%;margin: 1.5em auto}
.order-track .track-timeline{padding:10px;border:1px solid #ddd;background:rgba(255,255,255,.6)}
.track-timeline > p{font-size:18px}
.track-timeline > .timeline-ul{padding-left:0}
.track-timeline > .timeline-ul li span{color:#999;margin-right:1.5rem}